@font-face{
	font-family: roboto;
	src: url( ../fonts/roboto/Roboto-Regular.ttf );
}

html,body{
	font-family: roboto;
}

.character-image{
	position: relative;
    float: left;
    width:  300px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.character-card:hover{
	box-shadow: 10px , 10px , 5px , 30px , blue;
	background-color: cyan;
}

.game-title{
	padding-top: 1em;
	padding-bottom: 1em;
}
