@font-face{
	font-family: roboto;
	src: url( ../fonts/roboto/Roboto-Regular.ttf );
}

html,body{
	font-family: roboto;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}


.content-section{
	margin-top: 40px;
}

.center-cropped {
  	object-fit:cover; 
  	object-position: center; 
  	height: 300px;
  	width: 300px;
}

.card:hover{
	cursor: pointer;
	border: 5px solid rgb(86, 180, 239);
  	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.game-title{
	padding-top: 1em;
	padding-bottom: 1em;
	color: #337ab7;
}

.ellipsis{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.character-card{
	margin-bottom: .75rem;

}

.card{
	border: 5px solid rgba(86, 180, 239 , 0);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.00) inset, 0px 0px 8px rgba(82, 168, 236, 0.0);
 }

.card-title{
	position: absolute;
	top: 80%;
  	text-align: left;
  	font-size: 1.5em;
  	color: #fff;
  	background-color: #111;
  	opacity: 0.8;
  	width: 100%;
  	text-indent: 1em;
}

.get-more-title{
	position: absolute;
	text-align: center;
	font-size: 4em;
	top: 20%;
}



